.header{
  background: $header-bg;
  color:$header-color;
}
.header_content{
  display: flex;
  justify-content: space-between;
  max-width: $site-max-width;
  margin:0 auto;
  padding: $space;
}
.header_title{
  margin: 0;
}
